{
  "plugins": ["stylelint-scss", "stylelint-order"],
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "scss/selector-no-redundant-nesting-selector": true,
    "scss/no-duplicate-dollar-variables": true,
    "no-descending-specificity": true,
    "block-no-empty": true,
    "media-query-no-invalid": true,
    "at-rule-empty-line-before": ["always", {
      "except": ["after-same-name"]
    }],
    "rule-empty-line-before": ["always", {
      "except": ["first-nested"]
    }],
    "indentation": "tab",
    "selector-class-pattern": null,
    "no-missing-end-of-source-newline": true,
    "alpha-value-notation": "number",
    "order/properties-alphabetical-order": true
  }
}
